/* Стили ниже трогать не нужно */
	.content {
		width: 600px;
		padding: 0 30px 30px 30px;
		border: 3px solid;
	}

	.element {
		border: 2px solid red;
		height: 150px;
		margin-top: 30px;
	}

	.element:nth-child(2) {
		height: 200px;
	}

	.element:nth-child(3) {
		height: 250px;
	}


/* Ваше решение задания №1 */
  .element {
     width: 100px;
     display: inline-block;
     vertical-align: middle;
  }

/* Ваше решение задания №2 */
  .parent {
    display: table;
    position: relative;
    top: 10px;
    border: solid 1px black;
    
    
  }

  ul {
    display: table-row;
  }

  li {
    display: table-cell;
    border: solid 1px black;
  }

/* Ваше решение задания №3 */
  .p2 {
    display: none;
  }

  .p4 {
    display: none;
  }

