html {
  font-family: helvetica, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
  padding: 30px 40px;
}

.notice {
  font-style: italic;
  font-size: 1.4em;
  line-height: 1.2;
}

.red {
  background: #e65c5b;
}

.green {
  background: #98bd5f;
}

.blue {
  background: #055590;
}

img {
  display: block;
  border: 1px solid #cccccc;
}

figure {
  margin: 20px 0;
}

.ex1 {
  margin-bottom: 100px;
}

.ex1 .cols {
  margin-bottom: 50px;
}

.ex1 .cols > div {
  min-height: 120px;
  text-align: center;
  padding: 20px 10px;
  color: #ffffff;
}

.cols > div h3 {
  font-size: 24px;
  margin: 16px 0;
}

.cols > div p {
  font-size: 16px;
}



/* Решение */
.variant1 {
  display: flex;
  flex-flow: row nowrap;
}

.variant1 .red, .variant1 .green, .variant1 .blue {
  width: 33.3%;
  border: 10px solid black;
}


.variant2 {
    height: 200px;
}

.variant2:after {
content: '.';
display: block;
clear: both;
width: 100%;
}

.variant2 .red, .variant2 .green, .variant2 .blue {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  border: 10px solid black;
  height: 100%;
}

/* Ваше решение задания №1 */

.ex2 {
  margin-bottom: 100px;
}
.ex2 .container {
  display: block;
  border: 3px solid #000000;
}

.ex2 .red {
  height: 150px;
}

.ex2 .green {
  height: 50px;
}

.ex2 .overlay {
  width: 50%;
  height: 200px;
}

div.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
}


/* Решение*/
 

/* Ваше решение задания №2 */

